<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LinqToSqlTest.Properties.Settings.TekPubConnectionString"
            connectionString="Data Source=JUSTINWIN7RC-PC\sqlexpress;Initial Catalog=TekPub;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>